{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}">
{% endblock %}
{% block content %}

    <h1 class="header">Course Details</h1>

    <div class="card">
        <div class="card-content">
            <h3 class="card-title">{{ course.name }}</h3>
        </div>
        <div class="card-action">
            {% if request.user == course.user %} {# Check if the current user is the owner #}
                <a href="{% url 'courses_update' course.id %}">Edit</a>
                <a href="{% url 'courses_delete' course.id %}">Delete</a>
            {% endif %}
            {% if not user_in_course %}
            <form class="button" method="post" action="{% url 'join_course' course.id %}">
                {% csrf_token %}
                <button type="submit">Join Course</button>
            </form>
            {% else %}
            <form class="button" method="post" action="{% url 'leave_course' course.id %}">
                {% csrf_token %}
                <button type="submit">Leave Course</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="course-content">
        <div class="assignment-list">
            <h1>Current Assignments</h1>    
            {% for assignment in course.assignment_set.all %}
            <div class="card"  style="width: 18rem;">
                <a href="{% url 'assignments_detail' assignment.id %}">
                    <div class="card-body">
                        <h3 class="card-text poster-name"><small>{{assignment.title}}</small></h3>
                    </div>
                </a>    
            </div>
            {% endfor %} 
        </div>
        <div class="post-list">
            <h1>Posts</h1>
            {% for post in course.post_set.all %}
                <div class="card" style="width: 18rem;">
                    <a href="{% url 'posts_detail' post.id %}">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                        </div>
                    </a>   
                </div>
            {% endfor %}
        </div>
    </div>    
{% endblock %}