{% extends 'base.html' %}
{% block content %}

    <h1>Course Details</h1>

    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ course.name }}</span>
            <p>Color: {{ course.color }}</p>
            <p>Size: {{ course.size }}</p>
            {% if course.habitat %}
                <p>Habitat: {{ course.habitat }}</p>
                {% else %}
                    <p>Habitat: N/A</p>
                {% endif %}
        </div>
        <div class="card-action">
            <a href="{% url 'courses_update' course.id %}">Edit</a>
            <a href="{% url 'courses_delete' course.id %}">Delete</a>
        </div>
    </div>

{% endblock %}