{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/courses.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row content">
        <div class="col-sm-10 dashboard">
            <br>
            <h2>Course View</h2>
            <br>
            {% for class in classes %}
            {% block content %}
            <h1>Edit Course</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
            <a href="{% url 'courses_index' %}">Back to Courses</a>
            {% endblock %}
        </div>
        <div class="col-sm-2 sidenav">
            <ul class="nav nav-pills flex-column">
                <li ><a class="navlinks" href="">Recent</a></li>
                <li><a href="{% url 'home' %}" class="navlinks">Dashboard</a></li> 
                <li><a href="{% url 'courses_index' %}" class="navlinks">Join Classes</a></li>
                <li><a href="{% url 'assignments_create' %}" class="navlinks">Create a Class</a></li>
                <li><a href="{% url 'assignments_update' %}" class="navlinks">Edit classes</a></li> 
                <li><a href="{% url 'assignments_index' %}" class="navlinks">Assignments</a></li>
            </ul><br>
        </div>
  </div>
</div>
{% endblock %}