
{% load compress %}
{% load static %}
  
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <title>TeachEasy</title>
    
    
    {% compress css %}
    <link rel="stylesheet" 
    href="{% static 'src/input.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endcompress %}
</head>
<body> 
    <nav class="bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <h5 class="boujee-text">TeachEasy</h5>
            <div class="flex flex-col md:flex-row items-center"> 
                <ul class="flex flex-row items-center space-x-4"> 
                    <li>
                        <a class="text-white hover:text-blue-400">Dashboard</a> 
                    </li>
                    <li class="mr-4">
                        <a class="mr-4 text-white hover:text-blue-400">Profile</a> 
                    </li>
                </ul>
                <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                    Login
                </button>
            </div>
        </div>
    </nav>
      
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <!-- footer stuffs -->
    </footer>
</body>
</html>