{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row content">
        <div class="col-sm-10 dashboard">
            <br>
            <h2>Welcome to the Dashboard</h2>
            <br>
            <h4><small>This is all that is on the dashboard</small></h4>
            <hr>
            {% block post %}
            {% endblock %}

        </div>
        <div class="col-sm-2 sidenav">
            <ul class="nav nav-pills flex-column">
                <li ><a class="navlinks" href="{% url 'home' %}">Recent</a></li> <!-- Updated URL name -->
                <li><a href="{% url 'courses_index' %}" class="navlinks">All Classes</a></li> <!-- Updated URL name -->
            </ul><br>
        </div>
  </div>
</div>
{% endblock %}
