{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row content">
        <div class="col-sm-10 dashboard">
            <br>
            <h2>Dashboard</h2>
            <br>
            <h4><small>RECENT POSTS</small></h4>
            <hr>
            {% block post %}
            {% endblock %}

        </div>
        <div class="col-sm-2 sidenav">
            <ul class="nav nav-pills flex-column">
                <li class=""><a href="">Recent</a></li>
                <li><a href="courses/">All Classes</a></li>
                <li><a href="courses/">Join Classes</a></li>
                <li><a href="assignments/">Assignments</a></li>
            </ul><br>
        </div>
  </div>
</div>
{% endblock %}


