/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}
    
/* Set gray background color and 100% height */
.sidenav {
    background-color: rgba(206, 168, 142, 0.599);
    height: 100%;
}

.navlinks {
    color: #2f1b25;
}

.dashboard {
    background-color: #ca8a5f20;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}

.course-content {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 0 auto;
}

.assignment-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  float: left; 
  margin-left: 15%;
}

.post-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  margin-left: 40%;
}

