.anim-text {
  --bg-size: 400%;
  --color-one: hsl(0, 0%, 100%);
  --color-two: #e3d26f;
  font-family: sans-serif;
  font-size: clamp(1rem, 3vmin, 2rem);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .anim-text {
    animation: move-bg 24s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

#header-nav{
  background-color: #2f1b25c4;
  padding: 3vmin;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5000;
}

.non-logo-links {
  color: rgb(204, 204, 204);
  padding-left: 4vmin;
  padding-right: 4vmin;
  font-size: 2vmin;
  transition: color 500ms ease;
}

.non-logo-links:hover {
  color: white;
  transition: color 800ms ease;
}

.form-header {
  text-align: center;
  margin-top: 4vmin;
  margin-bottom: 4vmin;
}

.form-group>p {
  text-align: center;
}

.form-group>ul>li {
  align-self: center;
  text-align: center;
  list-style-type: none;
}

.signup-a {
  align-self: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100vw;
  background-color: #2f1b25;
  color:#e3d26f;
  padding: 15px;
  position: fixed;
  bottom: 0;
}

.bumper {
  margin-top: 10vmin;
}

body {
  background-color: #ca8a5f20;
}