{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row content">
        <div class="col-sm-10 dashboard">
            <br>
            <h2>Course View</h2>
            <br>
            {% block course %}
            {% endblock %}

        </div>
        <div class="col-sm-2 sidenav">
            <ul class="nav nav-pills flex-column">
                <li ><a class="navlinks" href="">Recent</a></li>
                <li><a href="courses/" class="navlinks">All Classes</a></li>
                <li><a href="courses/" class="navlinks">Join Classes</a></li>
                <li><a href="assignments/" class="navlinks">Assignments</a></li>
            </ul><br>
        </div>
  </div>
</div>
{% endblock %}